body {
	margin: 5px;
}

h1 {
	text-align: center;
	font-size: 4em;
}

ol {
	background-color: LightGray;
	margin: 1em;
}

.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 100%;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}